<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Currency Exchange App</title>
    <link rel="stylesheet" type="text/css" href="/app.css">
</head>

<body>
    <header>
        <h3>Currency Exchange App</h3>
    </header>
    <main>
        <form id="data">
            <div class="input-field">
                <input placeholder="Search for Currency" class="input" list="currencies">
                <datalist id="currencies"></datalist>
            </div>
            <div class="file-upload">
                <input type="file" accept=".csv" onchange="getFileData(this)" id="uploadedFile">
                <i class="fas fa-arrow-up"></i>
            </div>
            <div class="uploaded-file-details">
                <h3 class="uploadText">Upload csv file</h3>
                <button type="button" class="btn remove-button" onclick="removeFileData()"><i
                        class="fas fa-times"></i></button>
            </div>
            <button type="submit" class="btn success-btn">Generate csv</button>
        </form>
    </main>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/e974b5f5b8.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/app.js"></script>
</body>

</html>